.wrapper{
    overflow: scroll;
    margin-top: 0px;
    margin-bottom: 10px;
}
.button {
    width: 72px;
    height: 72px;
    border-radius: 4px;
    border: 2px;
    background-color: #EF4343;
    position: fixed;
    /* bottom: 50px; */
    bottom: calc(100% - 810px);
    left: calc(411px - 85px);
    cursor: pointer;
    z-index: 1;
}
.notes-list{
    /* padding-top: 400px;
    padding-bottom: 230px; */
    position: relative;
    top: 2%;
    max-height: 823px;
}
#waves{
    background: no-repeat url(../assets/waves.svg);
    width: 410px;
    height: 146px;
    position: absolute;
    bottom: 0;
    margin: 0;
  }